@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "./variables.css";

/* FIX: Только классы, глобальный сброс */
.global-box-fix {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--color-bg-root);
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  flex: 1;
  width: 100%;
  max-width: var(--max-width-container);
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
  main {
    max-width: 100%;
  }
}
