@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import "./variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--color-bg-root);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Занимает всё пространство между header и footer */
  width: 100%;
  max-width: var(--max-width-container);
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
}
